<h1>ADD page</h1>
<a href="http:/">ГОЛОВНА</a>

<form action="/add" method="POST">
    <div class="input-field">
          <input id="title" type="text" name="title" class="validate" required>
          <label for="title">Назва</label>
          <span class="helper-text" data-error="Назвіть предмет"></span>
    </div>
    <div class="input-field">
          <input id="price" type="text" name="price" class="validate" required>
          <label for="price">Ціна</label>
          <span class="helper-text" data-error="Введіть ціну"></span>
    </div>
    <div class="input-field">
          <input id="img" type="text" name="img" class="validate" required   >
          <label for="img">URL img</label>
          <span class="helper-text" data-error="Введіть url"></span>
    </div>
    <button type="submit" class="btn btn-s">Додати товар</button>
</form>