.backet_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
}

.backet_wrapper > div {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
} 